*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
font-size: 62.5%;
}

ul{
  list-style: none;
}

body{
  background: ;
  padding: 6.8rem 2.3rem 6.6rem;
  font-size: 1.6rem;
  font-family:'Epilogue', sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(195, 53, 53)
}

main{
  max-width: 33.0rem;
  margin: 0 auto;
}

main p:first-child{
  color: rgb(195, 53, 53);
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 3.2rem;
  margin-bottom: 1.7rem;
}

h1 + p{
  color: rgb(195, 53, 53);
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

a{
color: rgb(195, 53, 53);
text-decoration: none;
}

a:hover{
 color: rgb(96, 26, 26);
 font-weight: bold;
}

ul{
  margin-top: 7.2rem;
}

ul li span{
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;
  color: rgb(195, 53, 53);
}

ul li {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  max-width: 25.7rem;
  display: flex;
  gap:3.8rem
  
}

@media (min-width: 700px){

  body{
    padding: 8rem;
  }

  main{
    max-width: 1020px;
    display: flex;
    gap: 10rem;
    
  }

  main > div{
    max-width: 484px;
  }

  ul li{
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
    
  }
  
 
}

ul li +li{
  margin-top: 3.2rem;
}



h1{
  font-weight: 800;
  color: rgb(195, 53, 53);
  margin-bottom: 1.5rem;
  font-size: 4.0rem;
  font-family:'Epilogue', sans-serif; 
  line-height: 4.8rem
  

}


